<h3> Comment Details</h3>
<div>
    <div>
        <label> <b> CommentID:  </b></label> {{comment.commentID}}
    </div>
    <div>
        <label> <b> PostID:  </b></label> {{comment.postID}}
    </div>
    <div>
        <label> <b> UserID:  </b></label> {{comment.userID}}
    </div>
    <div>
        <label> <b> Comment:  </b></label> {{comment.comment}}
    </div>
    <div>
        <label> <b> Comment Date:  </b></label> {{comment.creationDate}}
    </div>
    <div>
        <label> <b> Confirmation Status:  </b></label> {{comment.isConfirmed}}
    </div>
</div>