<h3>Post Details</h3>
<div>
  <div>
    <label><b>ID:</b></label> {{post.postID}}
  </div>
  <div>
    <label><b>Title:</b></label> {{post.title}}
  </div>
  <div>
    <label><b>Content:</b></label> {{post.content}}
  </div>
  <div>
    <label><b>Views:</b></label> {{post.viewCount}}
  </div>
  <div>
    <label><b>Creation Date:</b></label> {{post.creationDate}}
  </div>
  <div>
    <label><b>Publish Status:</b></label> {{post.isPublished}}
  </div>
  <div>
    <label><b>CategoryID:</b></label> {{post.categoryID}}
  </div>
  <div>
    <label><b>Category:</b></label> {{category.name}}
  </div>
  <div>
    <label><b>UserID:</b></label> {{user.userID}}
  </div>
  <div>
    <label><b>Username:</b></label> {{user.username}}
  </div>
  <div>
    <label><b>Comment:</b></label> {{comment.comment}}
  </div>
</div>

