<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 >{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/adduser" class="btn btn-info">Add User</a> <!-- class="nav-link" shows only link not button  -->
            </li>
            <li class="list-inline-item">
              <a routerLink="/posts" class="btn btn-info">List Posts</a> <!-- class="nav-link" shows only link not button  -->
                </li>
              <li class="list-inline-item">
                <a routerLink="/addpost" class="btn btn-info">Add Post</a> <!-- class="nav-link" shows only link not button  -->
                  </li>
                   <li class="list-inline-item">
                <a routerLink="/comments" class="btn btn-info">List Comments</a> <!-- class="nav-link" shows only link not button  -->
                  </li>
                <li class="list-inline-item">
                  <a routerLink="/addcomment" class="btn btn-info">Add Comment</a> <!-- class="nav-link" shows only link not button  -->
                    </li>
                  <li class="list-inline-item">
                    <a routerLink="/categories" class="btn btn-info">List Categories</a> <!-- class="nav-link" shows only link not button  -->
                      </li>
                  <li class="list-inline-item">
                    <a routerLink="/addcategory" class="btn btn-info">Add Category</a> <!-- class="nav-link" shows only link not button  -->
                        </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>