<div class="add-post-container">
    <h2>Add post</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" [(ngModel)]="post.title" name="title" required>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <input type="text" id="content" [(ngModel)]="post.content" name="content" required>
      </div>
      <div class="form-group">
        <label for="creationDate">Post Date</label>
        <input type="date" id="creationDate" [(ngModel)]="post.creationDate" name="creationDate" required>
      </div>
      <div class="form-group">
        <label for="userID">Username</label>
        <select id="userID" [(ngModel)]="post.userID" name="userID" required>
          <option *ngFor="let user of users" [value]="user.userID">{{ user.username }}</option>
        </select>
        <div class="form-group">
          <label for="categoryID">Category Name</label>
          <select id="categoryID" [(ngModel)]="post.categoryID" name="categoryID" required>
            <option *ngFor="let category of categories" [value]="category.categoryID">{{ category.name }}</option>
          </select>
      </div>
        
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
  